<form>
  <div class="form-group">
    <label for="name">name</label>
    <input type="text" class="form-control" id="name" placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="InputEmail1">Email address</label>
    <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="comment">Add a comment about quality of support you recieved:</label>
    <textarea class="form-control" rows="5" id="comment"></textarea>
  </div>
  <button style="margin-bottom: 20px"type="submit" class="btn btn-primary">Submit</button>
</form>