<div ngxDroppable [dropZone]="dropZone" [model]="model" [copy]="copy" [ngClass]="{ 'gu-empty': !model?.length }" [removeOnSpill]="removeOnSpill"
  [position]="position" class='ngx-dnd-container' [ngStyle]="{'padding':position !== 'canvas' ? '0' : '10px' }" style="max-height: 83vh; overflow-y: auto !important; overflow-x: hidden !important;">
  <ng-container *ngIf="model">
    <ng-container *ngFor="let item of model">
      <ngx-dnd-item ngxDraggable [model]="item" [dropZone]="dropZone" [dropZones]="dropZones" [copy]="copy" [moves]="moves" [removeOnSpill]="removeOnSpill"
        [droppableItemClass]="droppableItemClass" [position]="position" (destroy)="getDestroyEvent($event)">
      </ngx-dnd-item>
    </ng-container>
  </ng-container>
  <ng-content *ngIf="!model"></ng-content>
</div>